<% suma= [] %>
<% quantity= [] %>
<% params[:orders].each do |order|%>
<% book = Book.find(order["book_id"]) %>
<% quantity << order["quantity"].to_i  %>
<%suma << book.price*order["quantity"].to_i %>
<% end %>
<h1>Total</h1>
<%= suma.sum %>
<h2>Su compra de <%= quantity.sum %> libros ha sido procesada</h2>
