<head>
<h1>
BookStore
</h1>
</head>
<body>
<main class="container">
 <div class="row">
<section class="information-description">
    <p>
      ¡<strong>Book</strong> for all ages, a bookstore where all your senses can travel.
    </p>
  </section>
 </div>

  <div>
  <div class="carousel-container">
  <div class="carousel">

    <div class="carousel-item active">
      <h2>Drama</h2>
    </div>
    <div class="carousel-item">
      <h2>Terror</h2>
    </div>
    <div class="carousel-item">
      <h2>Suspense</h2>
    </div>
    <div class="carousel-item">
      <h2>Novel</h2>
    </div>
    <div class="carousel-item">
    <h2>Poetry</h2>
    </div>
  </div>
  <button class="carousel-btn prev">❮</button>
  <button class="carousel-btn next">❯</button>
</div>
  </div>


<div class="cards">

<div class="card">
      <img
        alt="Book cover 'Book title'"
        class="card-image"
        loading="lazy"
        src="https://gandhi.vtexassets.com/arquivos/ids/4427921/image.jpg?v=638550103239170000"
      />
      <div class="card-content">
        <h2>Book title</h2>
        <h3>Author</h3>
        <h4>$ Price</h4>
        <p>Synopsis</p>
        <div class="rating">
          ${renderStars(0)}
        </div>
      </div>
    </div>

<div class="card">
      <img
        alt="Book cover 'Book title'"
        class="card-image"
        loading="lazy"
        src="https://gandhi.vtexassets.com/arquivos/ids/4427921/image.jpg?v=638550103239170000"
      />
      <div class="card-content">
        <h2>Book title</h2>
        <h3>Author</h3>
        <h4>$ Price</h4>
        <p>Synopsis</p>
        <span class="vtex-reviews-and-ratings-3-x-stars c-action-primary"><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span></span>
  </div>
</div>

<div class="card">
    <img
        alt="Book cover 'Book title'"
        class="card-image"
        loading="lazy"
        src="https://gandhi.vtexassets.com/arquivos/ids/4427921/image.jpg?v=638550103239170000"
      />
      <div class="card-content">
        <h2>Book title</h2>
        <h3>Author</h3>
        <h4>$ Price</h4>
        <p>Synopsis</p>
        <span class="vtex-reviews-and-ratings-3-x-stars c-action-primary"><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span></span>
  </div>
</div>

<div class="card">
  <img
        alt="Book cover 'Book title'"
        class="card-image"
        loading="lazy"
        src="https://gandhi.vtexassets.com/arquivos/ids/4427921/image.jpg?v=638550103239170000"
      />
      <div class="card-content">
        <h2>Book title</h2>
        <h3>Author</h3>
        <h4>$ Price</h4>
        <p>Synopsis</p>
        <span class="vtex-reviews-and-ratings-3-x-stars c-action-primary"><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span></span>
  </div>
</div>

<div class="card">
      <img
        alt="Book cover 'Book title'"
        class="card-image"
        loading="lazy"
        src="https://gandhi.vtexassets.com/arquivos/ids/4427921/image.jpg?v=638550103239170000"
      />
      <div class="card-content">
        <h2>Book title</h2>
        <h3>Author</h3>
        <h4>$ Price</h4>
        <p>Synopsis</p>
        <span class="vtex-reviews-and-ratings-3-x-stars c-action-primary"><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span></span>
  </div>
</div>

<div class="card">
      <img
        alt="Book cover 'Book title'"
        class="card-image"
        loading="lazy"
        src="https://gandhi.vtexassets.com/arquivos/ids/4427921/image.jpg?v=638550103239170000"
      />
      <div class="card-content">
        <h2>Book title</h2>
        <h3>Author</h3>
        <h4>$ Price</h4>
        <p>Synopsis</p>
        <span class="vtex-reviews-and-ratings-3-x-stars c-action-primary"><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span></span>
  </div>
</div>
  <script>
  function renderStars(rating) {
    let stars = '';
    for (let i = 0; i < 5; i++) {
      stars += i < rating ? '★' : '☆';
    }
    return stars;
  }
</script>
</div>
</div>
</section>
</main>

<footer class="footer">
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> BookStore
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-categories">
    <h4>Categories</h4>
    <ul>
      <li><a href="#">Books</a></li>
      <li><a href="#">Ebooks</a></li>
      <li><a href="#">Audiobooks</a></li>
    </ul>
  </div>

   <div class="footer-payment-methods">
   <h4>Payment methods</h4>
   <img title="" sizes="" srcset="" alt="amex-logo-card" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload" loading="eager" fetchpriority="auto" crossorigin="anonymous" data-src="https://gandhi.vtexassets.com/arquivos/Amex_gray.png" src="https://gandhi.vtexassets.com/arquivos/Amex_gray.png" style="max-width: 53px;">
   <img title="" sizes="" srcset="" alt="carnet-logo-card" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload" loading="eager" fetchpriority="auto" crossorigin="anonymous" data-src="https://gandhi.vtexassets.com/arquivos/Carnet_Gray.png" src="https://gandhi.vtexassets.com/arquivos/Carnet_Gray.png" style="max-width: 53px;">
   <img title="" sizes="" srcset="" alt="master-logo-card" class="vtex-store-components-3-x-imageElement vtex-render-runtime-8-x-lazyload" loading="eager" fetchpriority="auto" crossorigin="anonymous" data-src="https://gandhi.vtexassets.com/arquivos/Master_Gray.png" src="https://gandhi.vtexassets.com/arquivos/Master_Gray.png" style="max-width: 53px;">
  </div>

</footer>
</body>
