<div class="InformationTitle"><h1>BookStore</h1></div>
<div class="container">

<div class="InformationShortDescription"><p>¡<strong>Book</strong> Para todas las edades, una libreria donde pueden viajar todos tus sentidos.</p></div>

<div class="cards">

<div class="card">
  <img src="imagen.jpg" alt="Imagen de la tarjeta">
  <div class="card-content">
    <h2>Título de la tarjeta</h2>
    <p>Descripción breve de la tarjeta.</p>
  </div>
  <span class="vtex-reviews-and-ratings-3-x-stars c-action-primary"><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span><span class="vtex-reviews-and-ratings-3-x-star vtex-reviews-and-ratings-3-x-star--empty">☆</span></span>
</div>

<div class="card">
  <img src="imagen.jpg" alt="Imagen de la tarjeta">
  <div class="card-content">
    <h2>Título de la tarjeta</h2>
    <p>Descripción breve de la tarjeta.</p>
  </div>
</div>

<div class="card">
  <img src="imagen.jpg" alt="Imagen de la tarjeta">
  <div class="card-content">
    <h2>Título de la tarjeta</h2>
    <p>Descripción breve de la tarjeta.</p>
  </div>
</div>

<div class="card">
  <img src="imagen.jpg" alt="Imagen de la tarjeta">
  <div class="card-content">
    <h2>Título de la tarjeta</h2>
    <p>Descripción breve de la tarjeta.</p>
  </div>
</div>

<div class="card">
  <img src="imagen.jpg" alt="Imagen de la tarjeta">
  <div class="card-content">
    <h2>Título de la tarjeta</h2>
    <p>Descripción breve de la tarjeta.</p>
  </div>
</div>

<div class="card">
  <img src="imagen.jpg" alt="Imagen de la tarjeta">
  <div class="card-content">
    <h2>Título de la tarjeta</h2>
    <p>Descripción breve de la tarjeta.</p>
  </div>
</div>




</div>



</div>
