<div class="container">
  <h1 class="mt-4">Libros Disponibles</h1>

  <div class="cards">
    <% @books.each do |book| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= book.image_url.present? ? book.image_url : 'https://via.placeholder.com/300' %>)">
        <%= link_to book.title, book_path(book), class: "stretched-link text-white" %>
      </div>
    <% end %>
  </div>
</div>
